## Now You Code 2: Syracuse Crime Data

In this second now you code you will explore the plot.ly engine in detail using Syracuse, NY FBI crime data.

In [1]:
import plotly.plotly as py    
import plotly.graph_objs as go  
import cufflinks as cf
import pandas as pd

In [2]:
crime = pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/crime/syracuse-crime-data-1985-2012.csv')
crime.sample(10)

,Year,Months,Population,Violent crime total,Murder and nonnegligent Manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Forcible rape rate,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate,Unnamed: 21
16,2001,12,147577,1562,15,42,567,938,7905,1810,...,1058.4,10.2,28.5,384.2,635.6,5356.5,1226.5,3519.5,610.5,NaN
18,2003,12,145411,1383,17,44,477,845,7773,1975,...,951.1,11.7,30.3,328.0,581.1,5345.5,1358.2,3171.7,815.6,NaN
12,1997,12,159610,1430,15,55,586,774,9075,2388,...,895.9,9.4,34.5,367.1,484.9,5685.7,1496.1,3731.6,458.0,NaN
0,1985,12,164659,1013,12,80,551,370,11037,3741,...,615.2,7.3,48.6,334.6,224.7,6702.9,2272.0,4172.3,258.7,NaN
27,2012,12,145934,1372,14,75,454,829,5976,1896,...,940.2,9.6,51.4,311.1,568.1,4095.0,1299.2,2534.0,261.8,NaN
26,2011,12,145822,1302,11,63,388,840,5275,1705,...,892.9,7.5,43.2,266.1,576.0,3617.4,1169.2,2236.3,211.9,NaN
24,2009,12,137208,1343,18,70,403,852,5779,1946,...,978.8,13.1,51.0,293.7,621.0,4211.9,1418.3,2547.2,246.3,NaN
4,1989,12,154960,1360,13,113,488,746,10290,3502,...,877.6,8.4,72.9,314.9,481.4,6640.4,2259.9,4016.5,364.0,NaN
22,2007,12,139880,1435,19,67,446,903,5964,1785,...,1025.9,13.6,47.9,318.8,645.6,4263.7,1276.1,2586.5,401.1,NaN
1,1986,12,164560,1108,9,61,552,486,11097,3646,...,673.3,5.5,37.1,335.4,295.3,6743.4,2215.6,4225.8,302.0,NaN

In [3]:
# Make a line plot of population over the years, using cufflinks crime.iplot()
# set the titles on x "Year, Y "Population" and cart title " Syracuse Population" 
# TODO: replace the ???? with appropriate values to render the chart
crime.iplot(kind = 'scatter', x = 'Year', y = 'Population', title='Population of Syracuse per Year',xTitle='Year',yTitle='Population')

In [4]:
# Now plot the same thing using plot.ly without cufflinks, again filling in the templates. Using plot.ly takes more effort but
# you have more control / flexibility over how the plots are rendered.
plot_data = [
    go.Scatter(x=crime['Year'], y=crime['Population'], mode="lines+markers", name="Population of Syracuse each year", marker=dict(color='red')),
]

py.iplot({ 'data': plot_data,
            'layout': {
               'title': 'Population of Syracuse each year',
               'xaxis': {
                 'title': 'Year'},
               'yaxis': {
                'title': 'Population'}
        }})

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~wabbit2195/0 or inside your plot.ly account where it is named 'plot from API'

In [7]:
# Now create a line plot of "Robbery rate" versus "Motor vehicle theft rate" over time.
# NOTE: you will need two series in your plot_data 
crime.iplot(kind = 'scatter', x = 'Year', y = ['Robbery rate', 'Motor vehicle theft rate'], title='Crimes Rate in Syracuse',xTitle='Year',yTitle='Crimes')

In [13]:
# Finally write a program to ask for a crime metric like "Robbery" / "Burglary" / "Manslaughter" etc as input, 
# then renders a plot of that metric over time as output !
# Note: check to make sure the entered crime metric is in the list of Pandas columns before you attempt to plot. 
# It might be a good idea to print the column names before you plot.
# if it is not you should print "That is not a crime metric"

try:
    axis = input(str('Enter a Crime Metric to plot: '))
    
except KeyError:
    print('That is not a crime ')
    
crime.iplot(kind = 'scatter', x = 'Year', y = axis, title='Crimes Rate in Syracuse',xTitle='Year',yTitle='Crimes')

Enter a Crime Metric to plot: Violent Crime rate